@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    text-align: center;
    font: normal 25pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
}